<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en">
    <body tiles:fragment="content">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header"><i class="fa fa-exclamation-triangle  fa-lg" style="padding-right: 10px"></i>Error</h3>
                </div>
                <div class="col-lg-12">
                    <div class="alert alert-danger">
                        <div th:text="${#dates.format(timestamp)}"></div>
                        <div>
                            There was an unexpected error occurred. (Type = <span th:text="${error}"></span>, Status =
                            <span th:text="${status}"></span>)
                        </div>
                        <div th:text="${message}"></div>
                        <div>
                            Please contact the administrator with the above information.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>